.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem 3rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  height: 100vh;
}

.mainNav {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.mainNav__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.mainNav__box .logo {
  font-family: 'Dancing Script', cursive;
  letter-spacing: 3px;
  font-weight: bold;
  width: 10%;
  font-size: 5rem;
}

.mainNav__box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
  margin-left: auto;
}

.mainNav__box ul li {
  margin-left: 2.5rem;
}

.mainNav__box ul a {
  position: relative;
  color: #2c2c2e;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.8rem;
}

.mainNav__box ul a::before {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fe6033;
  visibility: hidden;
}

.mainNav__box ul a:hover::before {
  visibility: visible;
}

header {
  background-color: #f9f9fb;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header__content {
  width: 35%;
}

.header__content h1 {
  font-weight: 700;
  font-size: 6rem;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}

.header__content p {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  line-height: 1.8;
}

.header__startBtn {
  padding: 1.3rem 1.8rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  -webkit-box-shadow: 1px 2px 5px 0px #42445a;
          box-shadow: 1px 2px 5px 0px #42445a;
  opacity: .85;
  -webkit-transition: .3s opacity;
  transition: .3s opacity;
  cursor: pointer;
  background-color: #fe6033;
}

.header__startBtn:hover {
  opacity: 1;
}

.header__mainPhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__mainPhoto img {
  width: 80%;
}

.about {
  background: #00b4b4;
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 100%;
}

.about__mainPhoto {
  width: 55%;
}

.about__mainPhoto img {
  display: block;
  width: 85%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about__content {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 35%;
  color: #ebebeb;
}

.about__content h2 {
  font-weight: 700;
  font-size: 8rem;
  margin-bottom: 2rem;
  letter-spacing: 2px;
}

.about__content p {
  font-size: 1.8rem;
  line-height: 1.6;
}

.services {
  background-color: #70c0ff;
}

.services__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__cardBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 80px;
  background-color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1;
  margin-bottom: 2rem;
  -webkit-box-shadow: 1px 2px 5px 0px #42445a;
          box-shadow: 1px 2px 5px 0px #42445a;
}

.services__cardText {
  width: 80%;
  margin: 0;
  padding: 0 1rem;
}

.services__divideLine {
  display: block;
  width: 1px;
  height: 100%;
  background-color: black;
}

.services__cardIcon {
  font-size: 3.2rem;
  width: 20%;
  padding: 0 1rem;
}

.services__contentBox {
  position: relative;
  width: 60%;
  overflow: hidden;
}

.services__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  font-size: 8rem;
  color: white;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
}

.services__mainPhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__mainPhoto img {
  display: block;
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery {
  background-color: #fee92e;
  padding: 6rem 2rem;
}

.gallery__title {
  font-weight: 700;
  font-size: 6rem;
  text-align: center;
}

.gallery__text {
  text-align: center;
  font-size: 1.6rem;
  width: 50%;
  margin: 3rem auto;
  line-height: 1.6;
}

.gallery__imagesBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "img1 img1 img1 img2" "img1 img1 img1 img3" "img4 img4 img5 img5";
  gap: 5rem;
}

.gallery__img1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: img1;
}

.gallery__img2 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: img2;
}

.gallery__img3 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: img3;
}

.gallery__img4 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img4;
}

.gallery__img5 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: img5;
}

.gallery__imgItem {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 1px 2px 5px 0px #42445a;
          box-shadow: 1px 2px 5px 0px #42445a;
}

.gallery__imgItem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__btn {
  padding: 1.3rem 1.8rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  -webkit-box-shadow: 1px 2px 5px 0px #42445a;
          box-shadow: 1px 2px 5px 0px #42445a;
  opacity: .85;
  -webkit-transition: .3s opacity;
  transition: .3s opacity;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 5rem;
  background-color: #5685a3;
}

.gallery__btn:hover {
  opacity: 1;
}

.subscribe {
  background-color: white;
}

.subscribe__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 100%;
}

.subscribe__contentBox {
  width: 50%;
}

.subscribe__title {
  font-size: 3rem;
  letter-spacing: 1px;
}

.subscribe__text {
  font-size: 1.4rem;
  width: 60%;
  padding: 1rem 0;
}

.subscribe__inp {
  margin-right: 20px;
  padding: 1rem;
  width: 60%;
  font-size: 1.5rem;
}

.subscribe__btn {
  padding: 1.3rem 1.8rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  -webkit-box-shadow: 1px 2px 5px 0px #42445a;
          box-shadow: 1px 2px 5px 0px #42445a;
  opacity: .85;
  -webkit-transition: .3s opacity;
  transition: .3s opacity;
  cursor: pointer;
  background-color: #97ba2c;
}

.subscribe__btn:hover {
  opacity: 1;
}

.subscribe__imgBox {
  width: 45%;
}

.subscribe__imgBox img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog {
  background-color: #b07cf8;
  padding: 5rem 0;
}

.blog__title {
  font-size: 6rem;
  letter-spacing: 2px;
  text-align: center;
  color: white;
}

.blog__text {
  font-size: 1.4rem;
  width: 50%;
  margin: 2rem auto;
  text-align: center;
  color: #ebebeb;
  line-height: 1.5;
  letter-spacing: 1px;
}

.blog__cardsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.blog__card {
  position: relative;
  width: 33%;
  min-height: 250px;
  padding: 2rem;
  background-position: center;
  background-size: cover;
}

.blog__cardDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(70, 73, 78, 0.705);
  width: 50px;
  height: 50px;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
}

.blog__cardTitle {
  position: absolute;
  left: 15px;
  bottom: 15%;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
}

.blog__cardInfo {
  position: absolute;
  bottom: 5%;
  left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  color: #ebebeb;
}

.card--1 {
  background-image: url("/assets/images/galleryPhotos/berries.jpg");
}

.card--2 {
  background-image: url("/assets/images/galleryPhotos/peaches.jpg");
}

.card--3 {
  background-image: url("/assets/images/galleryPhotos/pepper.jpg");
}

.blog__btn {
  display: block;
  padding: 1.3rem 1.8rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  -webkit-box-shadow: 1px 2px 5px 0px #42445a;
          box-shadow: 1px 2px 5px 0px #42445a;
  opacity: .85;
  -webkit-transition: .3s opacity;
  transition: .3s opacity;
  cursor: pointer;
  margin: 5rem auto 0 auto;
  background-color: #f82b3c;
}

.blog__btn:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */