.mainNav {
    position: fixed;
    font-size: 1.6rem;
    height: 80px;
    width: 100%;
}

.mainNav__box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: $logoFont;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 5rem;
    text-decoration: none;
    color: #000;
    width: 30%;
    margin-right: auto;
}

.mainNav__links {
    display: none;
    flex-direction: column;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0%;
    top: 80px;
    padding: 2rem 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.404);
    transition: height .3s;

    a {
        color: $lightContentColor;
        text-decoration: none;
        line-height: 2;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        padding: 5px 10px;
        
        &:hover {
            border-bottom: 2px solid $headerContent;
        }
    }
}

.mainNav__links.linksOpened {
    display: flex;
}

.mainNav__bar {
    padding: 10px;
    cursor: pointer;
    font-size: 2.5rem;
}

@media screen and (min-width: 730px) {

    .mainNav__links {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: end;
        background-color: transparent;
        width: 80%;
        list-style: none;
        
        a {
            display: block;
            color: $mainContentColor;
            padding-left: 2rem;

            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 3px;
                background-color: $headerContent;
                visibility: hidden;
            }

            &:hover {
                border-bottom: none;
            }
    
            &:hover::before {
                visibility: visible;
            }
        }
    }

     .mainNav__bar {
         display: none;
     }  
}