.mainNav__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    height: 80px;
    overflow: hidden;
    z-index: 1;
}

.logo {
    font-family: $logoFont;
    letter-spacing: 3px;
    font-weight: bold;
    width: 10%;
    font-size: 5rem;
    text-decoration: none;
    color: #000;
    width: 100%;
}

.mainNav__links {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    left: 5%;
    right: 5%;
    top: -400px;
    transition: transform .3s;

    a {
        color: #000;
        text-decoration: none;
        line-height: 2;

        &:hover {
            background-color: #ddd;
        }
    }
}

.mainNav__links.linksOpened {
    transform: translateY(480px);
}

.mainNav__bar {
    padding: 10px;
    cursor: pointer;
    font-size: 2.5rem;
}