$logoFont: 'Dancing Script', cursive;
$mainFont: 'Roboto', sans-serif;

$mainContentColor: rgb(44, 44, 46);
$lightContentColor: rgb(235, 235, 235);

$headerBgcColor: rgb(249, 249, 251);
$headerContent: rgb(254, 96, 51);
$aboutUsBgcColor: rgb(0, 180, 180);
$servicesBgcColor: rgb(112, 192, 255);
$galleryBgcColor: rgb(254, 233, 46);
$subscribeUsBgcColor: rgb(255, 255, 255);
$blogBgcColor: rgb(176, 124, 248);
$contactInputsColor: rgba(0, 196, 196, 0.85);
$footerBgcColor: rgb(38, 38, 38);

$galleryBtnColor: rgb(86, 133, 163);
$subscribeBtnColor:rgb(151, 186, 44);


$basicBoxShadow: 1px 2px 5px 0px rgba(66, 68, 90, 1);